

@import url(./normalize.css);
@import url(./reset.css);

/* 기본스타일 */
*, *::before,*::after{
  box-sizing: border-box;

}




/* 본문 스타일 영역 */
body{
  background-color: #ccc;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;

  font-weight: 500;
}

/* 레이아웃 */
.header, .visual, .main, .slogan, .footer-inner{
  width: 940px;
  margin: 0 auto;

}

/* 헤더 영역 */
.header{
  background-color: #fff;
  padding:0 30px;
  height: 15vh;
  border-radius: 0 0 15px 15px / 0 0 50px 50px;
  position: relative;
}

/* 로고 */
.logo{
  background-color: blue;
  position: absolute;
  left: 45px;
  top: 60px;
}

/* 텍스트 링크 모음 */
.member{
  background-color:  aqua;
  
}


/* 비주얼 영역 */
.visual{
  background-color: orange;
  height: 10vh;
}

/* 메인영역 */
.main{
  background-color: lightgreen;
  height: 50vh;
  /* border: 1px solid red; */
  /* display: flow-root; */
}

/* .main::after{
  content:"";
  clear: both;
  display: block;
} */

.gr{
  margin: 0 15px;

}
.group1{
  background-color: violet;
  width: 250px;
  float: left;
  margin-left: 30px;
}

.group2{
  background-color: salmon;
  width: 380px;
  float: left;
}

.group3{
  background-color: lightblue;
  width: 190px;
  float: left;
  margin-right: 30px;
}


/* 슬로건 영역 */
.slogan{
  background-color: skyblue;
  height: 10vh;
  /* clear: both; */
}

/* Footer 영역 */
.footer{
  background-color: gray;
}

.footer-inner{
  height: 15vh;
  background-color:silver;
}
