

@import url(./normalize.css);
@import url(./reset.css);

/* 기본스타일 */
*, *::before,*::after{
  box-sizing: border-box;
}



/* 본문 스타일 영역 */
body{
  background-color: burlywood;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;

  font-weight: 500;
}

/* 레이아웃 */
.header, .visual, .main, .slogan, .footer-inner{
  width: 940px;
  box-sizing: border-box; 
  margin: 0 auto;
}

/* 헤더 영역 */
.header{
  background-color: pink;
  padding:0 30px;
  height: 15vh;
}


/* 비주얼 영역 */
.visual{
  background-color: orange;
  height: 10vh;
}

/* 메인영역 */
.main{
  background-color: lightgreen;
  min-height: 450px;
  display: flex;
  /* flex-direction: row-reverse; */
  flex-direction: row;
  /* flex-direction: column; */

  /* 교차축 정렬 default값은 stretch */
  /* align-items: flex-start; */
  flex-wrap: nowrap;

  /* justify-content: space-evenly; */
  justify-content: space-between;
  padding: 30px 30px;

  align-items: flex-start;
}

/* .main::after{
  content:"";
  clear: both;
  display: block;
} */

.group1{
  background-color: violet;
  width: 250px;

  /* order속성의 default는 0 이므로 다른 item들이 order속성이 적용되지 않았다면,  1이상만 되어서 맨 뒤로감*/
  /* order: 1; */
}

.group2{
  background-color: salmon;
  width: 380px;
}

.group3{
  background-color: yellow;
  width: 190px;
  /* flex-grow: 1; */
}


/* 슬로건 영역 */
.slogan{
  background-color: skyblue;
  height: 10vh;
  /* clear: both; */
}

/* Footer 영역 */
.footer{
  background-color: gray;
  margin: 0 auto;
}

.footer-inner{
  height: 15vh;
  background-color:silver;
  /* 색 조합을 활용한 섀도우 생성 */
  /* position: relative;
  top: -10px;
  left: -10px; */
}
